/*健康码相关样式 */
$yuekang-color: #4393f4;
$health-greeen: #3bb36c;


.triangle-down {
	width: 0;
	height: 0;
	border-width: 10rpx;
	border-style: solid;
	border-color: black transparent transparent transparent;
}